<div class="wrapper">
  <h1 class="page-title">管理者ページ</h1>
</div>

<div class="wrapper">
  <div class="admin_menus">
    <div class="admin_menu">
      <%= link_to "出品ページ", new_item_path, class:"blue" %>
    </div>
    <div class="admin_menu">
      <%= link_to "購入情報", purchase_record_admin_path, class:"blue" %>
    </div>
  </div>
</div>