<div class="wrapper">
  <div class="pan">ホーム>オンラインショップ>MYページ(ログイン)</div>
  <h1 class="page-title ">MYページ(ログイン)</h1>
  <h2 class="entry-title">会員登録がお済みのお客様</h2>
  <p>会員の方は、登録時に入力されたメールアドレスとパスワードでログインしてください。</p>
  
</div>