.admin_menus {
  max-width: 980px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.admin_menu {
  width: 430px;
  margin: 10px 10px 30px 10px;
  border: silver 1px solid;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgba(192, 192, 192, 0.5);
}

.admin_menu a {
  display: block;
  padding: 10px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin_menu a:hover {
  background-color: #efefef;
  text-decoration: none;
  transition: background-color 0.1s;
}