// index

.main_visual {
  width: 100vw;
  text-align: center;
}
.main_visual img {
  max-width: 100vw;
}

.items_index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item_index {
  padding: 50px 10px 5px 10px;
}

.item_index a {
  display: block;
}

.index_logo {
  text-align: center;
}

.news_containers {
  display: flex;
  justify-content: space-around;
}

.news_container {
  width: 100%;
  height: 130px;
  overflow-y: scroll;
}

.news_border {
  width: 50%;
  margin:10px;
  padding:30px 0;
  border-bottom: solid 1px #ececec;
  border-top: solid 1px #ececec;
}

//スクロールバー

::-webkit-scrollbar{
   width: 10px;
  }
::-webkit-scrollbar-track{
  background: #fff;
  border-left: solid 1px #ececec;
  }
::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #fff;
  }

//出品、詳細ページ

#image-list {
  min-height: 150px;
  background-color: rgb(235, 233, 233);
  display: flex;
  flex-wrap: wrap;
}

.image-element {
  width: 150px;
  height: 150px;
}

.image-element img {
  width: 150px;
  height: 100%;
  padding: 10px;
  object-fit: cover;
}

.btn_item {
  width: 140px;
  height: 30px;
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
  display: block;
  background-image: url("/assets/logo/header-menu08.jpg");
  margin: 20px auto;
}

.file_btn {
  margin: 5px;
}

.item_container {
  margin: 0 auto;
  max-width: 980px;
  display: flex;
}

.items_show_main {
  width: 65%;
  display: flex;
  align-items: center;
}

.items_show_main img {
  max-height: 400px;
  padding: 5px;
}

.items_show_sub {
  width: 35%;
  max-height: 400px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.items_show_sub img {
  padding: 5px;
  width: 130px;
  height: 90px;
  object-fit: cover;
}

.item_title_container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.item_title {
  padding:40px 10px;
  color : #222222;
  line-height: 2em;
}

.item_title img {
  padding: 5px;
}

.item_product {
  width: 100%;
  padding:10px;
  border-top: solid 1px #D0D0D0;
}

.item_material {
  width: 90%;
  padding:10px;
  border-top: solid 1px #D0D0D0;
  border-bottom: solid 1px #D0D0D0;
}

.item_size {
  width: 90%;
  padding:10px;
  border-bottom: solid 1px #D0D0D0;
}

.item_price {
  width: 90%;
  font-size: 1.5rem;
}

.relevance_image {
  padding: 50px 0;
}