// index

.items_index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item_index {
  padding: 20px 10px 5px 10px;
}

.item_index a {
  display: block;
}


//出品、詳細ページ

#image-list {
  min-height: 150px;
  background-color: rgb(235, 233, 233);
  display: flex;
  flex-wrap: wrap;
}

.image-element {
  width: 150px;
  height: 150px;
}

.image-element img {
  width: 150px;
  height: 100%;
  padding: 10px;
  object-fit: cover;
}

.btn_item {
  width: 140px;
  height: 30px;
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
  display: block;
  background-image: url("/assets/logo/header-menu08.jpg");
  margin: 20px auto;
}

.file_btn {
  margin: 5px;
}

.item_container {
  margin: 0 auto;
  max-width: 980px;
  display: flex;
}

.items_show_main {
  width: 65%;
  display: flex;
  align-items: center;
}

.items_show_main img {
  max-height: 400px;
  padding: 5px;
}

.items_show_sub {
  width: 35%;
  max-height: 400px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.items_show_sub img {
  padding: 5px;
  width: 130px;
  height: 90px;
  object-fit: cover;
}

.item_title {
  padding: 10px;
  margin: 0 15px;
  color : #222222;
}