#image-list {
  height: 150px;
  background-color: rgb(235, 233, 233);
  display: flex;
}

#image-list div {
  width: 150px;
  height: 150px;
}

#image-list img {
  width: 100%;
  height: 100%;
  padding: 10px;
}