/* 共通 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.field_with_errors {
  display: contents;
}

body {
  font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  line-height: 1.6;
  border-top: 5px solid #000000;
  margin-top: 2px;
}

a {
  color: #0033CC;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
  display: flex;
}

.wrapper {
  margin: 0 auto;
  max-width: 980px;
}

.text_center {
  text-align: center;
}

.border {
  border-bottom: #DDDDDD 1px solid;
  height: 100px;
}

.mini {
  font-size: 0.9rem;
}

.red {
  color : #c00;
}

.bold {
  font-weight: bold;
}

.top_space30 {
  padding-top: 30px;
}

.bottom_space30 {
  padding: 30px 0;
}

.top_margin30 {
  margin-top: 30px;
}

/* ヘッダー */

header {
  padding-top: 30px;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}

.page-title {
  padding-bottom: 50px;
  font-weight: normal;
}

.pan {
  padding: 50px 0 20px 0;
}

/* メイン */

.entry-title {
  padding: 15px 0;
  margin-bottom: 20px;
  border-top: #DDDDDD 1px solid;
  border-bottom: #DDDDDD 1px solid;
  color: #333333;
}

.table {
  font-size: 93%;
  width: 980px;
  display: flex;
  flex-wrap: wrap;
  border-right: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
  margin: 0 auto;
}

.table_l {
  width: 30%;
  background-color: #eee;
  border-left: #ddd 1px solid;
  border-top: #ddd 1px solid;
  padding: 10px;
}

.table_r {
  width: 70%;
  border-left: #ddd 1px solid;
  border-top: #ddd 1px solid;
  padding: 10px;
}

.login_table{
  font-size: 93%;
  width: 980px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 30px;
}

.login_tb_l {
  width: 30%;
  padding: 10px 0;
  text-align: right;
}

.login_tb_r {
  width: 70%;
  padding: 10px 0;
}

.btn {
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.7 ;
}

.btn_sign_in {
  width: 125px;
  height: 35px;
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
  display: block;
  background-image: url("/assets/logo/header-menu06.gif");
  margin: 20px auto;
}

.btn_login {
  width: 125px;
  height: 35px;
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
  display: block;
  background-image: url("/assets/logo/header-menu04.gif");
  margin: 20px auto;
}

.box {
  border: #ddd 1px solid;
  margin-right: 5px;
  padding: 2px 3px;
}

.box10 {
  width: 10%;
  border: #ddd 1px solid;
  margin-right: 5px;
  padding: 2px 3px;
}

.box20 {
  width: 20%;
  border: #ddd 1px solid;
  margin-right: 5px;
  padding: 2px 3px;
}

.box80 {
  width: 80%;
  border: #ddd 1px solid;
  margin-right: 5px;
  padding: 2px 3px;
}

.kiyaku_text {
  margin: 0 0 5px 0;
  padding: 5px;
  width: 100%;
  height: 200px;
  border: #ddd 1px solid;
}

/* フッター */

footer {
  padding-top: 30px;
  margin: 0 auto;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
}
