/* 共通 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.field_with_errors {
  display: contents;
}

body {
  font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  line-height: 1.6;
  border-top: 5px solid #000000;
  margin-top: 2px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 980px;
}

.text_center {
  text-align: center;
}

.box_center {
  margin: 0 auto;
}

.border {
  border-bottom: #DDDDDD 1px solid;
  height: 100px;
}

.mini {
  font-size: 0.9rem;
}

.red {
  color : #c00;
}

.blue {
  color: #0033CC;
}

.bold {
  font-weight: bold;
}

.wid_100 {
  width: 100px;
}

.top_space30 {
  padding-top: 30px;
}

.top_space60 {
  padding-top: 60px;
}

.next_page a {
  color: #0033CC;
}

.left-space {
  padding-left: 10px;
}

.bottom_space5 {
  padding-bottom: 5px;
}

.bottom_space30 {
  padding-bottom: 30px;
}

.top_margin30 {
  margin-top: 30px;
}

.error-alert {
  padding-bottom: 20px;
}

.error-message {
  padding: 5px;
}

/* ヘッダー */

header {
  padding-top: 30px;
  padding-bottom: 35px;
  margin: 0 auto;
  max-width: 980px;
  display: flex;
  align-items: center;
}

.header_a {
  font-weight: bold;
  font-size: 0.9rem;
  height: 60px;
  line-height: 35px;
  padding:10px 15px;
  display: block;
  transition: color 0.3s;
}

.header_logo {
  width: 245px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_logo img {
  display: block; 
}

.header_navs {
  width: 440px;
  height: 60px;
  display: flex;
  justify-content: space-around;
}

.header_nav_bk {
  color: #202020;
}

.header_nav_bk:hover {
  color: #606060;
  text-decoration: none;
}

.header_nav_wt {
  color: #878787;
}

.header_nav_wt:hover {
  color: #c8c8c8;
  text-decoration: none;
}

.header_btn {
  text-align: center;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 0.75rem;
  -webkit-font-smoothing: antialiased;
  border: gray 1px solid;
  width: 130px;
  height: 35px;
  line-height: 35px;
  background-color: #222222;
  color: #EEEEEE;
  transition: background-color 0.3s;
}

.admin_header_btn {
  text-align: center;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 0.75rem;
  -webkit-font-smoothing: antialiased;
  border: gray 1px solid;
  width: 130px;
  height: 35px;
  line-height: 35px;
  background-color: #a20d0d;
  color: #EEEEEE;
  transition: background-color 0.3s;
}

.header_btn:hover {
  background-color: #606060;
  text-decoration: none;
}

.cart_navs {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  height: 60px;
  z-index: 2;
}

.cart_nav {
  height: 35px;
}

.cart_nav2 {
  height: 35px;
  display: none;
}

.hidden {
  display: none;
}

.page-title {
  padding-bottom: 50px;
  font-weight: normal;
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  color: #404040;
  letter-spacing: 2px;
}

.pan {
  padding: 20px 0;
}

.pan a {
  color: #0033CC;
}

/* プルダウン */

.pull_down_container {
  top : 120px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 900px;
  height: 400px;
  padding: 20px;
  color: #FFFFFF;
  background-color: #202020;
  z-index:2;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item_down {
  padding: 10px;
}

.item_down_oya {
  padding: 3px;
  font-weight: bold;
}

.item_down_oya a {
  color: #FFFFFF;
}

.item_down_ko {
  font-size: 0.9rem;
}

.item_down_ko a {
  color: #FFFFFF;
}

#lady_down {
  display: none;
  background-color: #ffffff;
  border-right: 36px solid transparent;
  border-bottom: 86.6025px solid #202020;
  border-left: 36px solid transparent;
}

#lady_down a {
  display: block;
}

#men_down {
  display: none;
  background-color: #ffffff;
  border-right: 36px solid transparent;
  border-bottom: 86.6025px solid #202020;
  border-left: 36px solid transparent; 
}

#men_down a {
  display: block;
}

#contents_down {
  display: none;
  background-color: #ffffff;
  border-right: 58px solid transparent;
  border-bottom: 86.6025px solid #202020;
  border-left: 58px solid transparent;
}

#contents_down a {
  display: block;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content_list_title {
  width: 17%;
  height: 50px;
  margin: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #FFFFFF;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.content_list {
  width: 17%;
  height: 60px;
  margin: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.content_list img {
  width: 100%;
}

/* メイン */

.main_visual {
  text-align: center;
  width: 100vw;
  background-color: #000000;
  height: 343px;
}

.main_visual img {
  width: 980px;
  height: 343px;
}

.index_title {
  text-align: center;
  font-size: 1.4rem;
  font-weight:bold;
  -webkit-font-smoothing: antialiased;
  color: #404040;
  letter-spacing: 2px;
}

.sub_title {
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  color: #404040;
  letter-spacing: 2px;
  padding-left: 5px;
}

.entry-title {
  padding: 15px 0;
  margin-bottom: 20px;
  border-top: #DDDDDD 1px solid;
  border-bottom: #DDDDDD 1px solid;
  color: #333333;
}

.table {
  font-size: 93%;
  width: 980px;
  display: flex;
  flex-wrap: wrap;
  border-right: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
  margin: 0 auto;
}

.table_l {
  width: 30%;
  background-color: #eee;
  border-left: #ddd 1px solid;
  border-top: #ddd 1px solid;
  padding: 10px;
}

.table_r {
  width: 70%;
  border-left: #ddd 1px solid;
  border-top: #ddd 1px solid;
  padding: 10px;
}

.login_table{
  font-size: 93%;
  width: 980px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 30px;
}

.login_tb_l {
  width: 30%;
  padding: 10px 0;
  text-align: right;
}

.login_tb_r {
  width: 70%;
  padding: 10px 0;
}

.btn {
  transition: 0.5s;
}

.btns {
  display: flex;
  justify-content: center;
}

.btns div {
  padding:0 10px;
}

.btn:hover {
  opacity: 0.7 ;
}

.white_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: gray 1px solid;
  width: 160px;
  height: 50px;
  background-color: #FFFFFF;
  transition: background-color 0.3s;
}

.white_btn:hover{
  background-color: #efefef;
  text-decoration: none;
}

.more_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: gray 1px solid;
  width: 300px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  color: #404040;
  letter-spacing: 2px;
  transition: background-color 0.3s;
}

.more_btn:hover{
  background-color: #efefef;
  text-decoration: none;
}

.black_btn {
  border: gray 1px solid;
  width: 130px;
  height: 40px;
  -webkit-font-smoothing: antialiased;
  background-color: #222222;
  font-size: 0.9rem;
  color: #FFFFFF;
  transition: background-color 0.3s;
}

.black_btn:hover {
  background-color: #606060;
}

.black_btn_a {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 0.9rem;
  -webkit-font-smoothing: antialiased;
  border: gray 1px solid;
  width: 130px;
  height: 40px;
  line-height: 40px;
  background-color: #222222;
  color: #FFFFFF;
  transition: background-color 0.3s;
}

.black_btn_a:hover {
  background-color: #606060;
  text-decoration: none;
}

.box {
  border: #ddd 1px solid;
  margin-right: 5px;
  padding: 2px 3px;
}

.box10 {
  width: 10%;
  border: #ddd 1px solid;
  margin-right: 5px;
  padding: 2px 3px;
}

.box20 {
  width: 20%;
  border: #ddd 1px solid;
  margin-right: 5px;
  padding: 2px 3px;
}

.box40 {
  width: 40%;
  border: #ddd 1px solid;
  margin-right: 5px;
  padding: 2px 3px;
}

.box60 {
  width: 60%;
  border: #ddd 1px solid;
  margin-right: 5px;
  padding: 2px 3px;
}

.box80 {
  width: 80%;
  border: #ddd 1px solid;
  margin-right: 5px;
  padding: 2px 3px;
}

.kiyaku_text {
  margin: 0 0 5px 0;
  padding: 5px;
  width: 100%;
  height: 200px;
  border: #ddd 1px solid;
}

/* フッター */

footer {
  padding-top: 30px;
  margin: 0 auto;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
}

.footer_nav {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 100%;
}

.footer_nav ul {
  display: flex;
  margin: 0 auto;
}

.footer_nav li {
  margin: 0 5px;
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  width: 100%;
  flex-flow: column;
}

.footer_sns {
  display: flex;
}

.footer_sns img {
  padding: 5px;
}
