/* 共通 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.field_with_errors {
  display: contents;
}

body {
  font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  line-height: 1.6;
  border-top: 5px solid #000000;
  margin-top: 2px;
}

a {
  color: #0033CC;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
  display: flex;
}

.wrapper {
  margin: 0 auto;
  max-width: 980px;
}

.mini {
  font-size: 0.9rem;
}

.red {
  color : #c00;
}

/* ヘッダー */

header {
  padding-top: 30px;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}

.page-title {
  padding-bottom: 50px;
  font-weight: normal;
}

.pan {
  padding: 50px 0 20px 0;
}

/* メイン */

.table {
  font-size: 93%;
  width: 980px;
  display: flex;
  flex-wrap: wrap;
  border-right: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
  margin: 0 auto;
}

.table_l {
  width: 30%;
  background-color: #eee;
  border-left: #ddd 1px solid;
  border-top: #ddd 1px solid;
  padding: 10px;
}

.table_r {
  width: 70%;
  border-left: #ddd 1px solid;
  border-top: #ddd 1px solid;
  padding: 10px;
}

.btn {
  width: 125px;
  height: 35px;
  color: rgb(255, 255, 255, 0);
  cursor: pointer;
  display: block;
  background-image: url("/assets/logo/entry.gif");
  margin: 20px auto;
}

.box10 {
  width: 10%;
}

.box20 {
  width: 20%;
}

.box80 {
  width: 80%;
}
.kiyaku_text {
  margin: 0 0 5px 0;
  padding: 5px;
  width: 100%;
  height: 200px;
  border: #ddd 1px solid;
}

/* フッター */

footer {
  padding-top: 30px;
  margin: 0 auto;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
}
